# Copyright (C) 2022 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# drawio temp files
*.bkp
*.dtmp

src/device-onvif-camera/src
src/model-data/src
src/model-data/models

build/
.env
user-input.json
!horizon/user-input.json
node-policy.json
!horizon/node-policy.json
